<center>
<br>
<hr />
  <h1><big>UNIVERSITY LIBRARY</big></h1>
<hr />
<br>
    <h1><%= link_to 'BOOKS', controller: 'books' %></h1>
    <h1><%= link_to 'STUDENTS', controller: 'students' %></h1>
</center>